
<div class="q-wrapper">
  <mat-card class="container cus__card-design">
    <div class="q-icon-wrpr">
      <div class="q__icon" [ngClass]="{
        'correct-ans disabled':
          color[question.question_id] !== undefined &&
          color[question.question_id]
      }" matTooltip="Save as Bookmark" (click)="onBookmark(question.question_id)">
        <mat-icon>bookmark_border</mat-icon>
      </div>
      <div class="q__icon">
       <a target="_blank" href="detail/{{ question.question_id }}" (click)="getQues()"><mat-icon> add_comment</mat-icon></a>
      </div>
      </div>
    <div class="q-relative">
      <mat-divider [inset]="true"></mat-divider>
  
      <div class="question-text">
     
        <!-- corect qustion -->
        <!-- <span *ngIf="question.sloved" class="response" class="prefix back">
              <mat-icon>check</mat-icon>
            </span> -->
  
        <div class="question_text">
          <div class="q-tag">IIT JEE , Physics</div>
          <div class="q-font">{{ question.question_text }}</div>
        </div>
      </div>
        
      <!-- wrong question -->
      <!-- <div *ngIf="!question.sloved" class="response" class="prefix back">
            <mat-icon>clear</mat-icon>
          </div> -->
  
      <!--<span *ngIf="data[i].tags != null">
      (<span *ngFor="let tag of data[i].tags ;index as k">{{tag.tag_description}}/
      </span>)
      </span>-->
      <div id="svg-container" *ngIf="
          loader[question.question_id] !== undefined &&
          loader[question.question_id]
        ">
        <mat-spinner class="spinner"></mat-spinner>
      </div>
      <div class="p-10 option-container" [class.disabled]="
          optionData[question.question_id] !== undefined &&
          optionData[question.question_id].disableAnswer
        ">
        <div *ngFor="let option of question.options; index as j" class="options" [ngClass]="{
            correct: option.id == question.correct_option
          }">
          <span class="prefix">{{ optionsValue[j] }}</span>
          <a class="p-10">
            {{ option.option_description }}
          </a>
          <span *ngIf="option.id == question.correct_option" class="response" class="q-right">
            <mat-icon>check</mat-icon>
          </span>
          <span *ngIf="
              optionData[question.question_id] !== undefined &&
              optionData[question.question_id].optionId == option.id &&
              optionData[question.question_id].status === 0 &&
              optionData[question.question_id].disableAnswer
            " class="response">
            <mat-icon>clear</mat-icon>
          </span>
        </div>
      </div>
      <!--<mat-divider [inset]="true"></mat-divider>-->
  
      <!--<mat-card-actions class="text-center" *ngIf="optionData[question.question_id] !== undefined && !optionData[question.question_id].disableAnswer" fxLayoutAlign="center center">
    <mat-icon>bookmark_border</mat-icon>
    <button class="btn btn-success btn-block login-btn" matTooltip="Submit Questions" (click)="fun(question.question_id)">Submit</button>
    <i class="fa fa-comments-o fa-2x"></i>
  
  </mat-card-actions>-->
  
      <mat-expansion-panel class="sol-bg">
        <mat-expansion-panel-header class="sol-title">
          <mat-panel-title class="sol-title"> View Solution </mat-panel-title>
        </mat-expansion-panel-header>
  
        <p>{{ question.question_answer }}</p>
      </mat-expansion-panel>
    </div>
  </mat-card>
  <div class="question-information">
    <div class="info">
      <mat-icon class="l-icon">equalizer</mat-icon>
      <span style="margin-left: 6px">Level : {{ question.difficulty_level }}</span>
    </div>
    <div class="info">
      <div class="d-icon-wrpr t-bg"></div>
      <span>Attempted : {{ question.question_attempt }}</span>
    </div>
    <div class="info">
      <div class="d-icon-wrpr c-bg"></div>
      <span>Correct Answer : {{ question.successful_attempt }}</span>
    </div>
    <div class="info">
      <div class="d-icon-wrpr m-bg"></div>
      <span>Marks : {{ question.question_marks }}</span>
    </div>
  </div>
</div>

