
div {
    display: block;
}
.m-20{
    margin: 20px;
}
.p-10{
    padding: 10px;

}
.option-container{
    display: flex;
    flex-direction: column;
}
.options{
    padding: 10px;
    border-color: rgba(0,0,0,.12);
    margin-bottom: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius:0.25rem;
}
.options:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.correct-answer{
    background-color:#4CAF50;
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrong-answer{
    background-color:#af504c;
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.mat-card-content{
    margin-bottom: 5px;
    padding: 13px;
    text-align: justify;
}
.prefix{

    justify-content: center;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.12);
}


.disabled {
    pointer-events: none;
    opacity: 0.4;
  }


.response {
    align-items: center;
  justify-content: center;
    position: relative;
    flex-shrink: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color:white;
    float: right;
}

#svg-container
{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

/* .question-container{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.12);
} */

.container{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.12);
    font-size: 14px;
}

.spinner{
    position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
}
.btn-block {
    display: block;
    width: 29%;
}

.con {
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
    display: flex;
    text-align: justify;
    margin-left: 21px;
    margin-right: 23px;
    text-indent: inherit;

}
.show {
    overflow: visible;
    height: auto;
}
.shishir{
        float: right;
        margin: 1em 0em 0em 1em;
    }
.chaubey{
        font-size: 1.05rem;
        min-height: 45px;
    }
    .item {
        display: list-item;
        table-layout: fixed;
        list-style-type: none;
        list-style-position: outside;
        padding: 0.21428571em 0em;
        line-height: 1.14285714em;
        margin: 2px;
    }


    .shishir{
        font-family: verdana;
        font-size: 20px;
        /* background-color : rgba(242, 242, 242, 1); */

    }
    .back{
        background-color: #4CAF50;
    }

 
      .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
        color: red !important;
    }
    /* common question css */
    .q-wrapper{
        display: flex;
        justify-content: space-between;
        column-gap: 12px;
    }

    .cus__card-design{
        box-shadow: none;
        border:none;
      }
      .question-information{
        min-width: 113px;
    }
      .q-relative{
        position: relative;
    }
    .info{
      display: flex;
      align-items: center;
      margin-right: 15px;
    }
    .l-icon{
        color: #8899d9 !important;
    }
    .d-icon-wrpr{
        margin-right: 6px;
        padding: 5px;
        border-radius: 50%;
    }
    .l-bg{
        text-align: center;
    color: blue;
    }
    .t-bg{
        background-color: #ffc107c9;
        }
    .c-bg{
            background-color: #bff1ca;
     }
    .m-bg{
     background-color: #8899d9;
     }


    .correct{
        background-color: #c8cbef69;
    }

    .question_text{
        padding: 0 10px;
        margin-top: 18px;
        font-size: 16px;
        font-weight: 400;
    }
    .q-tag{
        font-size: 12px;
    }
    .correct-ans{
    }
    .q-icon-wrpr{
        text-align: right;
       }
       
       .q-icon-wrpr .q__icon{
           list-style: none;
           margin-bottom: 0;
           display: inline-block;
           line-height: 1em;
           border-right: solid 1px #dcdfe3;
           padding: 0 3px 0 6px;
       }
       
       .q-icon-wrpr .q__icon:last-child {
           border-right: 0;
         }
         .q__icon .mat-icon{
            color: #6D6DAA !important;
            cursor: pointer;
        }
        .q-right{
            float: right;
            margin-top:5px;
            margin-right: 5px;
        }

    .q-right{
        float: right;
        margin-top:5px;
        margin-right: 5px;
    }
    .sol-bg{
        background-color: #6D6DAA;
        margin: 0 10px;
        color:#fff;
    }
    .sol-title{
        color: #fff;

    }
    .sol-title span.mat-expansion-indicator::after{
        color: red !important;
    }

@media (max-width:760px) {
    .question-information{
      display: none;
    }

.question-information {
    justify-content: center;
    font-size: 12px;
}
.info {
    margin-right: 5px;
}
.q-font{
    font-size: 14px;
    text-align: justify;
    }
    }