<mat-tab-group mat-align-tabs="center">
  <mat-tab  label="Quiz">
     <app-new-component></app-new-component> 
    </mat-tab>
  <mat-tab  label="Questions">  





  <div class="is-sticky">
    <!-- <div class="exam-wrapper">
  
      <div class="row">
        <!-- <mat-card class="cus__card-design cus__cul-margin">
          <div class="an-title">Get Analytics</div>
          <div class="g-subtitle">
            <div class="s">
              Exam : 01
            </div>
            <div class="s">
              Total Attempt : 03
            </div>
            <div class="s">
              Correct Attempt : 04
            </div>
          </div>
      
        </mat-card> -->
        <!-- <div class="col-md-3 col-sm-6 sim">
          <mat-card class="cus-card cus__card-design" style="background-color: #c8cbef69;">
            <div class="c-title">Questions</div>
          </mat-card>
        </div>
        <a  href="/quiz123">
        <div class="col-md-3 col-sm-6 sim"  >
          <mat-card class="cus-card cus__card-design" >
            <div class="c-title"  >Quizs</div>
          </mat-card>
        </div>
        </a>
        <div class="col-md-3 col-sm-6 sim">
          <mat-card class="cus-card cus__card-design">
            <div class="c-title">Mocks</div>
          </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 sim">
          <mat-card class="cus-card cus__card-design">
            <div class="c-title">Syllabus</div>
          </mat-card>
        </div>
      </div>
    </div>  -->
 
    <!-- 
        <button mat-button (click)="getanalytics()">Get Analytics</button> 
      <ul *ngIf="flag" class="list-group analytics">
        <li class="list-group-item bg-success text-white">
          Exam : {{ data4.exam_name }}
        </li>
        <li class="list-group-item bg-secondary text-white">
          Total Attempt : {{ data4.total_attempt }}
        </li>
        <li class="list-group-item bg-secondary text-white">
          Correct Attempt : {{ data4.successful_attempt }}
        </li>
      </ul>
    -->
    
    
    
    <div class="level-wrpr">
      <mat-form-field class="example-twenty-width">
        <mat-label>Level</mat-label>
        <mat-select [formControl]="filterControl" (selectionChange)="fectchFilter()">
          <mat-option>--</mat-option>
    
          <mat-option *ngFor="let filter of idFilters" [value]="filter" fxFlex>
            {{ filter.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-twenty-width">
        <mat-label>Type</mat-label>
        <mat-select [formControl]="selectFormControl" (selectionChange)="fectchFilter()">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let filter of typeFilters" [value]="filter" fxFlex>
            {{ filter.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
    <div class="">
      <div class="d-flex justify-content-center">
        <div *ngIf="loader1" class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      
      <!-- <mat-tab-group class="s-m-20" mat-align-tabs="center" (selectedIndexChange)="getFreshScore($event)"> -->
        <!-- <mat-tab label="Unsloved"> -->
          <infinite-scroll (scrolled)="onScroll()">
            <div *ngFor="let question of questions; index as i" class="p-10 cust__m-20">
              <app-exam-questions [question]="question"></app-exam-questions>
              <div class="d-flex justify-content-center">
                <!-- <div *ngIf="loader" class="spinner-border text-success" role="status">
                  <span class="sr-only">Loading...</span>
                </div> -->
              </div>
            </div>
          </infinite-scroll>
        <!-- </mat-tab> -->
        <!-- <mat-tab label="Sloved">
          <infinite-scroll (scrolled)="onScroll()">
            <div *ngFor="let question of questions; index as i" class="p-10 cust__m-20">
              <app-solved-question [question]="question"></app-solved-question>
              <div class="d-flex justify-content-center">
                <div *ngIf="loader" class="spinner-border text-success" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </infinite-scroll>
        </mat-tab> -->
      <!-- </mat-tab-group> -->
    </div>


  </mat-tab> 
</mat-tab-group>
    
  