
/* 
  .analytics li{
    font-size: 17px;
    min-width: 10rem;
    font-family: sans-serif;
    padding: 6px;
    padding-left: 6px;
    font-weight: 900;
    font-size:14px;
    
      }

      .down {
        font-size:18px;
        min-width:11rem;
        
        }
  
        .chaubey {
          display: block;
          width: 100%;
          padding: .25rem 1.5rem;
          clear: both;
          font-weight: 400;
          color: #212529;
          text-align: inherit;
          white-space: nowrap;
          background-color: transparent;
          border: 0;
      }
      .list-group {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        border-radius: .25rem;
        padding-right: 51rem;
    } */
    .example-twenty-width .mat-form-field-underline{
      background-color:transparent;
    }
    @media (max-width:426px) {
    .example-twenty-width{
      width:100%;
      max-width: 130px;
    }
    }
.s-m-20{
  margin: 0 20px 20px 20px;
}
.an-title {
  color: #6D6DAA;
}
.g-subtitle{
  font-size: 12px;
}

.cus__card-design {
  box-shadow: none;
  border: none;
}


.c-title {
  font-weight: 500;
}
.mcq-img {
  margin-top: 10px;
  max-width: 45px;
  height: 40px;
}


.level-wrpr{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.level-wrpr .mat-form-field{
  margin-left: 20px;
}
.exam-wrapper{
  margin: 20px;
}


.cus-card {
  text-align: center;
  cursor: pointer;
  color: #4e4a4a;

}
.cus-card:last-child {

  border-right: none;
}
.cus-card:hover {
  background-color: #c8cbef69;
}


@media (max-width:793px) {
 
  .level-wrpr{
    justify-content: center;
  }
  .sim{
    margin-bottom: 20px;
  }
}

@media (max-width: 576px){
.sim{
    flex: 0 0 50%;
    max-width: 50%;
}

}

.cust__m-20{
  margin: 20px;
}
@media (max-width:760px) {

.cust__m-20{
  margin: 0;
}
}
.is-sticky {
  /* position: fixed;
  bottom: auto;
  z-index: 2; */

}


