
<div mat-dialog-content>
  <div class="text-center social-btn">
     <div *ngIf="loader==true" class="spinner-border text-success" role="status">
         <span class="sr-only">Loading...</span>
     </div>
  
    
       <button class="btn btn-primary btn-block" (click)="signInWithFB()"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></button>
       <button class="btn btn-danger btn-block" (click)="signInWithGoogle()"><i class="fa fa-google"></i> Sign in with <b>Google</b></button>
  <div class="or-seperator"><b>or</b></div>
  </div>
 <mat-tab-group mat-align-tabs="center">
  <mat-tab label="Login"> <app-login></app-login> </mat-tab>
  <mat-tab label="SignUp"> <app-signup></app-signup> </mat-tab> 
</mat-tab-group>
</div>
