.form-control {
	font-size: 16px;
}
.form-control:focus {
	border-color: #5cb85c;
}
.form-control, .btn {
	border-radius: 50px;
	outline: none !important;
}
.login-form {
	width: 400px;
	margin: 0 auto;
	padding: 30px 0;
}
.login-form form {
	border-radius: 5px;
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 40px 50px;
}
.login-form .btn {        
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
}
.social-btn .btn {
	color: #fff;
	margin: 10px 0;
	font-size: 15px;
	border-radius: 50px;
	text-indent: 10px;
	font-weight: normal;
	border: none;
	text-align: center;		
}
.social-btn .btn:hover {
	opacity: 0.9;
}
.social-btn .btn-primary {
	background: #507cc0;
}
.social-btn .btn-info {
	background: #64ccf1;
}
.social-btn .btn-danger {
	background: #df4930;
}
.social-btn .btn i {
	margin-right: 9px;
	font-size: 20px;
	min-width: 25px;
	position: relative;
	top: 2px;
}
.or-seperator {
	margin: 50px 0 15px;
	text-align: center;
	border-top: 1px solid #e0e0e0;
}
.or-seperator b {
	padding: 0 10px;
	width: 40px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	background: #fff;
	display: inline-block;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	position: relative;
	top: -22px;
	z-index: 1;
}
.login-form a {
	color: #5cb85c;
}