<h1 class ="text-center">  Hello Prabhat --->> {{counter}}</h1>
<form [formGroup]="leagueForm" (ngSubmit)="onSubmit()">
  <div formArrayName="teams">
    <div
      class="teams"
      *ngFor="
        let team of leagueForm.get('teams')['controls'];
        let teamIndex = index
      "
      [formGroupName]="teamIndex"
    >
    <button type="button" class="btn btn-success" (click)="addExam(team)">Add Entry</button>
          <div formArrayName="exam_id">
        <div
          class="exam_id"
          *ngFor="let exam of team.get('exam_id').controls; let i=index
          "
          fxFlex="10%"
  
        >
          <label> {{i}}
          <p>{{color[i]===1 ? "s"+countervalue[i] : ''}}</p>
          <input (keydown.Tab)="onKey($event.target.value,i)" [formControlName]="i" 
          [ngClass]=
        "{'bc': color[i]===1}"
          
          
          />
          <!--<input type="number" (keypress)="selectedTabChange($event.target.value)" [formControlName]="i"/>-->
            <!--<input type="number"  [formControlName]="i"/>
            <input type="number"  [formControlName]="i"/>
            <input type="number"  [formControlName]="i"/>
            <input type="number"  [formControlName]="i"/>-->
            <!--<button  class="btn btn-dark" (click)="deleteExam(team, i)">x</button>--></label
          >
        </div>


        
        
      </div>
</div></div>

</form>

<!--<button class="btn btn-primary mr-1" type="submit">Save Entries</button>-->
