.hello {
  width: 150px;
  height: 105px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  border: none;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 16%);
  color:#6D6DAA;
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 80px;

  }
  /* Column Gap */
  .cardList > * {
    box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
    margin-right: 32px;
  }
  /* Item sizing */
  .cardListItem {
    flex: 0 1 calc(33.3% - 32px);
  }
  #x {
    position: relative;
    float: right;
    background: red;
	color: white;
    top: -10px;
    right: -10px;
}

.close-icon
{
  top: -12px;
  right: -12px;
  display:block;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:red;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:red;
  box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
}
.img-wrap {
  position: relative;
  
}
.img-wrap .close {
  position: absolute;
  top: 38px;
  right: -10px;
  z-index: 100;
  color: #6D6DAA;
  font-size: 28px;
  opacity: 1;
  
}
.create-col{
  margin-top: 20px;
  display: inline-flex;
  width: 100%;
}
.d-cust__button{
  margin-left: 10px;
  background-color: #6D6DAA;
  border: 1px solid #6D6DAA;
  color: #fff;
  width: 100%;
  max-width: 160px;

}
@media (max-width:460px){
  .cardList {
    justify-content: center;
  }
  .create-col{
    display: block;
  }
  .d-cust__button{
    float: right;
    margin: 10px;
}
}