
<div class="container">
      <form [formGroup]="collectionForm" (ngSubmit)="createcollect(collectionForm.value)" class="create-col">

      <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" required>

      <button type="submit" class="btn d-cust__button">create collection</button>
</form>



<div class="cardList">
      <div *ngFor="let collection of data; index as i" class="img-wrap">
            <button class="btn" (click)="deleteCollection(collection.id)">
                  <i class="fa fa-times-circle close"></i>
            </button>
            <button class="hello"  (click)="getcollect(collection.id)">
                  {{collection.name}}</button>
      </div>

</div>


<ng-template #myTemplate>
      <mat-dialog-content class="mat-typography">
            <div *ngFor="let collection of data1.questions; index as i">
                  <app-exam-questions [question]="collection"></app-exam-questions>
            </div>
      </mat-dialog-content>
</ng-template>
</div>