<!-- footer -->

<footer
  class="cust-padding" style="background-color: #6d6dab;margin-bottom: -24px;background-image:url('./assets/image/footer-bg.png');background-size:cover;background-position: center center;
  background-repeat: no-repeat;"
>
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-primary-color text-center text-md-left">
        <div class="cust-h d-primary-color">Doubtfix</div>
        <p class="my-2">
          A quality questionBank & self analytical tool for all type of student
        </p>
        <div class="cust-h d-primary-color my-4">Follow us</div>
        <div class="">
          <a class="social-icon" href="https://www.facebook.com/fidoubt"
            ><i class="fa fa-facebook"></i
          ></a>
          <a class="social-icon" href="#"><i class="fa fa-google"></i></a>
          <a class="social-icon" href="https://twitter.com/DoubtfixU"
            ><i class="fa fa-twitter"></i
          ></a>
          <a class="social-icon" href="#"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
      <div class="col-md-4 text-center text-md-left">
          <div class="cust-h d-primary-color">Company</div>

          <div class="my-2">
            <p><a class="d-primary-color" href="#">Home</a></p>
            <p><a class="d-primary-color" href="#">QuestionBank</a></p>
            <p><a class="d-primary-color" href="#">About</a></p>
          </div>
        </div>

      <div class="col-md-4 d-primary-color text-center text-md-left">
        <div class="cust-h d-primary-color">Contact Us</div>
        <div class="my-2">
          <div>
            <i class="fa fa-map-marker d-primary-color" style="font-size: 22px;margin-right: 8px;"></i>
            <span class="d-primary-color text-center">
              804 - Advant Building, Tower. No. 16 , Sector - 137 Noida, 201301
            </span>
          </div>

          <div class="my-4">
            <i class="fa fa-envelope d-primary-color" style="font-size: 19px;margin-right: 8px;"></i>
            <span>
              <a class="d-primary-color" href="mailto:fidoubt@gmail.com"
                >fidoubt@gmail.com</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" text-center py-4 mb-4">
    <p class="d-primary-color">
      &copy;2019 Doubtfix Learning Solutions Pvt. Ltd.
    </p>
    <div class="f-line"></div>
</div>
</footer>
<!-- end of footer -->

<!-- jQuery first, then Popper.js, then Bootstrap JS 
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  
 </html>-->
