.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #000;
  text-align: center;
}
.d-primary-color{
color: #fff;
}
.cust-padding{
padding-top: 35px;
}

 .fa{
  font-size: 30px;
}

.cust-h{
  font-size: 22px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .cust-h {
    margin-top: 45px;
}
}
.social-icon{
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  text-align: center;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  margin-right: 0.25rem;
  color: #6D6DAA;
  background: #fefefe;
  border-color: #6D6DAA;
}
.social-icon:hover{
  background: #6D6DAA;
  border-color: #fefefe;
  color:#fff;
}

.f-line{
  height: 3px;
  width: 200px;
  margin: 20px auto;
  border-radius: 35px;
  background: linear-gradient(130deg, #6D6DAA ,#f0ecfc);

}

