
<app-header></app-header>

<app-root-nav></app-root-nav>
<app-footer></app-footer>

<!--<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidebar"><app-left-nav></app-left-nav></mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container>-->




