.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid #555;
}

.sidebar {

  min-width: 200px;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
