

<mat-card class="container">
    

<div class="question-information"  >

<p class="info">Level :  {{question.difficulty_level}}</p>
<p class="info">Total Attempts :  {{question.question_attempt}}</p>
<p class="info">Successful Attempts :  {{question.successful_attempt}}</p>
<p class="info">Marks : {{question.question_marks}}</p>




</div>
   


  <div class="question-container">


      <div class="question-text">
      
        <mat-card-content>
          
            <span class="prefix"  [ngClass]= "
{
  'correct-answer disabled':color[question.question_id]!== undefined && color[question.question_id]

}


" matTooltip="Save as Bookmark" (click)="onBookmark(question.question_id)"><mat-icon>bookmark_border</mat-icon></span><span class="p-10">
            {{question.question_text}}
          </span>
          <a target='_blank'
          href="detail/{{question.question_id}}" (click)="getQues()"><i class="fa fa-comments-o fa-2x" aria-hidden="true"></i></a>
        </mat-card-content>
        
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <!--<span *ngIf="data[i].tags != null">
      (<span *ngFor="let tag of data[i].tags ;index as k">{{tag.tag_description}}/
      </span>)
      </span>-->
      <div id="svg-container" *ngIf="loader[question.question_id] !== undefined && loader[question.question_id]">
      <mat-spinner class="spinner" ></mat-spinner>
      </div>
      <div class="p-10 option-container" [class.disabled]="optionData[question.question_id] !== undefined && optionData[question.question_id].disableAnswer">
      
<!--<div *ngFor="let option of question.options ; index as j" class="options" 
        [ngClass]=
        "{'correct-answer': optionData[question.question_id] !== undefined 
        && optionData[question.question_id].optionId == option.id 
        && optionData[question.question_id].status === 1, 
        'wrong-answer': optionData[question.question_id] !== undefined 
        && optionData[question.question_id].optionId == option.id 
        && optionData[question.question_id].status === 0}"
        (click)="options(option.id,question.question_id)" >-->
       
  
            <!--<span class="prefix">{{optionsValue[j]}}</span>-->
            <input [(ngModel)]="submitted_answer" />
           <!-- <span *ngIf="optionData[question.question_id] !== undefined 
        && optionData[question.question_id].optionId == option.id && optionData[question.question_id].status === 1 && optionData[question.question_id].disableAnswer" 
        class="response">
              	<mat-icon>check</mat-icon>
            </span>
            <span *ngIf="optionData[question.question_id] !== undefined 
        && optionData[question.question_id].optionId == option.id && optionData[question.question_id].status === 0 && optionData[question.question_id].disableAnswer" 
        class="response">
              <mat-icon>clear</mat-icon>
            </span>-->
            
        
 
        
        </div>


        
        <!--<mat-divider [inset]="true"></mat-divider>-->
        </div>
       
<mat-card-actions class="text-center" *ngIf="optionData[question.question_id] !== undefined && !optionData[question.question_id].disableAnswer" fxLayoutAlign="center center">-->
    <button class="btn btn-success btn-block login-btn" matTooltip="Submit Questions" (click)="fun(question.question_id)">Submit</button>
</mat-card-actions>

      


<mat-expansion-panel *ngIf="optionData[question.question_id] !== undefined && optionData[question.question_id].disableAnswer">
  <mat-expansion-panel-header>
    <mat-panel-title>
      View Solution
    </mat-panel-title>
  </mat-expansion-panel-header>

  <p>{{question.question_answer}}</p>

</mat-expansion-panel>
</mat-card>