
div {
    display: block;
}
.m-20{
    margin: 20px;
}
.p-10{
    padding: 10px;

}
.option-container{
    display: flex;
    flex-direction: column;
}
.options{
    padding: 10px;
    border-color: rgba(0,0,0,.12);
    margin-bottom: 8px;
    border-style: solid;
    border-width: 1px;
}
.options:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.correct-answer{
    background-color:#4CAF50;
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrong-answer{
    background-color:#af504c;
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.mat-card-content{
    margin-bottom: 5px;
    padding: 13px;
    text-align: justify;
}
.prefix{

    justify-content: center;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.12);
}

.questions{

}

.question-information{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

.info{

    flex: 1;
    padding: 10px;
    border-color: rgba(0,0,0,.12);
    margin-bottom: 8px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
  }

.question-text{

}

.response {
    align-items: center;
  justify-content: center;
    position: relative;
    flex-shrink: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color:white;
    float: right;
}

#svg-container
{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.question-container{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.12);
}

.container{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.12);
    font-size: 14px;
}

.spinner{
    position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
}
.btn-block {
    display: block;
    width: 29%;
}