<h2 mat-dialog-title>Update Profile</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="profileForm" (ngSubmit)="updateProductData(profileForm.value)">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Enter Name" formControlName="username" required>
      <label>About me</label>
      <input type="text" class="form-control" placeholder=" About me " formControlName="bio" required>
      <label>Mark</label>
      <input type="text" class="form-control" placeholder="Enter Name" formControlName="marks" required>
      <label>email</label>
      <input type="text" class="form-control" placeholder="Enter Name" formControlName="email" required>
      <button type="submit" class="btn btn-primary">Update Profile</button>

    </div>
  </form>
</mat-dialog-content>



<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->