<div class="container">
  <div class="profile-wrapper">
    <div class="p-wrapper">
      <div class="p-avatar">
        <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
          <input hidden type="file" accept="image/*" #fileInput (change)="uploadFile($event.target.files)">
          <img style="display:inline-flex;align-items:center;" class="example-box" src="{{files}}">
        </div>
      </div>
    
      <div class="p-content">
     <div class="u-n-flex">
      <div class="u-name">{{data[0].username}}</div> 
      <div class="u-location" *ngIf="data[0].profile.location">,
        <mat-icon> location_on</mat-icon>
        <span>{{data[0].profile.location}} </span>
      </div>
     </div>
        <div class="u-bio" *ngIf="data[0].profile.bio"> {{data[0].profile.bio}}</div>
        <div class="u-email">{{data[0].email}}</div>
        <div class="profile-action-buttons">
          <a class="p-edit-btn" (click)="openDialog()">
            <mat-icon>edit</mat-icon> <span>Edit Profile</span>
          </a>
          <div *ngIf="data[0].is_teacher===true" class="cont-btn">
            <a href="/dashboard">Contribute</a>
          </div>
       
        </div>
      
      </div>

    </div>
  </div>
<mat-divider></mat-divider>
  <div class="container-google-chart" *ngIf="show">
    <div class="box-chart">
      <div class="stack__item">
        <div class="p-marks">
          <mat-icon>check_circle_outline</mat-icon>
          <div class="marks-obt">
          <span>
            Marks Obtained
          </span><br>
        <span class="marks"> {{data[0].profile.marks}}</span>
        </div>
        </div>
        
      </div>

</div>
    <div class="box-chart">
      <h6 class="text-center">Solved</h6>
      <google-chart #chart [title]="title" [type]="type" [data]="data1" [columns]="columnNames" [options]="options"
        [width]="width" [height]="height" [dynamicResize]="dynamicResize">
      </google-chart>
    </div>
    <div class="box-chart">
      <h6 class="text-center">Level</h6>
      <google-chart #chart1 [title]="title1" [type]="type1" [data]="data2" [columns]="columnNames1" [options]="options" 
        [width]="width" [height]="height">
      </google-chart>
    </div>
  </div>
</div>

<!-- <div class="personal-detail box row">

   <div  class="files-list" *ngIf="files !== null">
          <p>{{file}}</p>
            <button class="delete-file" (click)="deleteAttachment(0)">
              <img src="../../assets/image/Recycle_Bin_Full.png">
            </button>
         </div>

</div> -->


