/* .container{
    display: flex;
    flex-direction: column;
}

.m-20{
    margin: 20px;
}
.p-10{
    padding: 10px;

}

.box {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(109, 49, 49, 0.12);
    margin: 10px;
    padding: 10px;
    flex: 1;
}

.border-area{
    border-style: dashed;
    border-width: 1px;
    border-color: rgba(109, 49, 49, 0.12);
}

.box-details {
    margin: 10px;
    padding: 14px;
    flex: 1;
    padding-left: 33rem;
    background-color:#eaeaea;

    margin-top: -177px;
    margin-left: 151px;
    margin-right: 10px;

}

.box-chart {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.12);
    margin: 10px;
    padding: 10px;
    flex: 1;
}


.personal-detail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}





.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
} */



/* new design */

.profile-wrapper{
    padding: 60px 0 28px;
    margin-bottom: 20px;
    
}
.p-wrapper{
display: flex;
flex-wrap: wrap;
justify-content: center;
column-gap: 40px;

}
.p-avatar{
    height: 8rem;
    width: 8rem;
}
.uploadfilecontainer {
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    border: 0px solid #b0c4d35d;
    border-radius: 65px;
    overflow: hidden;

}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}
.example-box {
    width: 8rem;
    height: 8rem;
    border: solid 1px transparent;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 67px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
.p-content{
}
.u-n-flex{
    justify-content: flex-start;
    align-items: center;
    display: flex;

}
.u-name{
    font-size: 32px;
    font-weight: 700;
}
.u-mar{
    margin-left: 6px;
}

.u-location{
    color: #9e9ea7;
    font-size: 16px;
    font-weight: 400;
    display: inline-flex;
    margin-left: 8px;
}
.u-bio{
    color: #9e9ea7;
    font-size: 14px;
    font-weight: 400;
    margin-top: -4px;
}
.u-email{
    color: #6d6daac2;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}
.profile-action-buttons {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.cont-btn{
    box-shadow: 0px 0px 0px 1px #e7e7e9 inset;
    display: inline-block;
    position: relative;
    height: 40px;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 16px;
}
.cont-btn a{
    color: #0d0c22;

}
.cont-btn a:hover{
    text-decoration: none;
}
.p-edit-btn{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background: transparent;
    display: inline-flex;
}
.p-edit-btn .mat-icon {
    color: rgb(0 0 0 / 20%);
    font-size: 17px;
}

.container-google-chart{
    display: flex;
  justify-content: space-between;
  margin-top: 50px;
  
}


.stack__item {
    color: #0000008a;
    height: 90px;
    padding: 20px;
    position: relative;
    background-color: #6d6daa2b;
    margin-right: 45px;
    margin-bottom: 16px;
    min-width: 205px;
    display: inline-flex;
}
.stack__item:before {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    border-top: 45px solid #9c9caa2b;
    border-bottom: 45px solid #6d6daa2b;
    border-left: 45px solid transparent;
}

.stack__item:after {
    content:"";
    position: absolute;
    right: -45px;
      top: 0;
      border-top: 45px solid transparent;
      border-bottom: 45px solid transparent;
      border-left: 45px solid #6d6daa2b;
}
 .stack__item:last-of-type:before {
    border:0;
}
.p-marks{
 display: inline-flex;
}
.marks{
    font-size: 27px;
    margin: 10px 40px;
}
.p-marks .mat-icon{
    margin-right: 8px;
    color: #6D6DAA;
    font-size: 32px;
    margin-top: 10px;
   }
   .p-marks .marks-obt{
    padding-left: 6px;
    margin-left: 6px;
    border-left: 3px solid #6D6DAA;
   }
@media (max-width:1024px){
    .container-google-chart{
        display: flex;
        flex-wrap: wrap;
      justify-content: center;
      
    }
    .u-n-flex{
    justify-content: center;
}
}
@media (max-width:600px){
  
    .u-location{
        display: none;
    }
    .p-content{
        text-align: center;
    }
}