
<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error>
        <div class="form-group">
        	<input type="text" class="form-control input-lg" formControlName="username" placeholder="Username" required="required">
        </div>


      <div  class="form-group">
        <input  type="password"  class="form-control input-lg" placeholder="Password" formControlName="password" required ="required">

      </div>
      



     <div *ngIf="loader" class="spinner-border text-success" role="status">
         <span class="sr-only">Loading...</span>
     </div>
      
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-block login-btn">Sign in</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>