 

 
<div style="float: left; width:50%;">
 
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" novalidate>
 
    <p>
      <label for="question_text">First Name </label>
      <input type="text" id="question_text" name="question_text" formControlName="question_text">
    </p>

    <p>
      <label for="question_marks">Mark </label>
      <input type="text" id="question_marks" name="question_marks" formControlName="question_marks">
    </p>

        <p>
      <label for="question_type">Type </label>
      <input type="text" id="question_type" name="question_type" formControlName="question_type">
    </p>

        <p>
      <label for="question_answer">answer </label>
      <input type="text" id="question_answer" name="question_answer" formControlName="question_answer">
    </p>

        <p>
      <label for="correct_option">correct_option </label>
      <input type="text" id="correct_option" name="correct_option" formControlName="correct_option">
    </p>

        <p>
      <label for="question_marks">Mark </label>
      <input type="text" id="question_marks" name="question_marks" formControlName="question_marks">
    </p>


        <div formGroupName="options">
 
      <p>
        <label for="option_description">options</label>
        <input type="text" class="form-control" name="option_description" formControlName="option_description">
      </p>
      </div>
  </form>
<div>