<div class="q-wrapper">
<mat-card class="container cus__card-design">
<div class="q-icon-wrpr">
<div class="q__icon" [ngClass]="{
  'correct-ans disabled':
    color[question.question_id] !== undefined &&
    color[question.question_id]
}" matTooltip="Save as Bookmark" (click)="onBookmark(question.question_id)">
  <mat-icon>bookmark_border</mat-icon>
</div>
<div class="q__icon">
 <a target="_blank" href="detail/{{ question.question_id }}" (click)="getQues()"><mat-icon> add_comment</mat-icon></a>
  
</div>
<div class="q__icon">
  <a (click)="gettag()"><mat-icon>collections_bookmark</mat-icon></a>
</div>
</div>
  <div class="q-relative">

    <mat-divider [inset]="true"></mat-divider>
   
    <div class="question-text">
      <div class="question_text">
        <div class="q-tag">IIT JEE , Physics</div>
        <div class="q-font">{{ question.question_text }}</div>
      </div>
  

    </div>
   
    <div id="svg-container" *ngIf="loader[question.question_id] !== undefined && loader[question.question_id]">
      <mat-spinner class="spinner"></mat-spinner>
    </div>


    <div class="p-10 option-container" (click)="fun(question.question_id)"
    [class.disabled]="optionData[question.question_id] !== undefined && optionData[question.question_id].disableAnswer">

    <div *ngFor="let option of question.options ; index as j" class="options" [ngClass]="{'correct-answer': optionData[question.question_id] !== undefined 
    && optionData[question.question_id].correctId === option.id 
    , 
    'wrong-answer': optionData[question.question_id] !== undefined 
    && optionData[question.question_id].optionId == option.id 
    && optionData[question.question_id].status === 0}" (click)="options(option.id,question.question_id)">


      <span class="prefix">{{optionsValue[j]}}</span>
      <a class="p-10">
        {{option.option_description}}
      </a>
      <span *ngIf="optionData[question.question_id] !== undefined 
    && optionData[question.question_id].correctId === option.id && optionData[question.question_id].disableAnswer"
        class="response">
        <mat-icon>check</mat-icon>
      </span>
      <span
        *ngIf="optionData[question.question_id] !== undefined 
    && optionData[question.question_id].optionId == option.id && optionData[question.question_id].status === 0 && optionData[question.question_id].disableAnswer"
        class="response">
        <mat-icon>clear</mat-icon>
      </span>


    </div>

  </div>

      <!--<span *ngIf="data[i].tags != null">
      (<span *ngFor="let tag of data[i].tags ;index as k">{{tag.tag_description}}/
      </span>)
      </span>-->

      <!--<mat-divider [inset]="true"></mat-divider>-->

    <!-- <mat-card-actions class="text-center"
      *ngIf="optionData[question.question_id] !== undefined && !optionData[question.question_id].disableAnswer"
      fxLayoutAlign="center center">

      <button class="btn btn-block" matTooltip="Submit Questions"
        (click)="fun(question.question_id)">Submit</button>




    </mat-card-actions> -->



    <mat-expansion-panel class="sol-bg"
      *ngIf="optionData[question.question_id] !== undefined && optionData[question.question_id].disableAnswer">
      <mat-expansion-panel-header>
        <mat-panel-title class="sol-title">
          View Solution
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>{{question.question_answer}}</p>

    </mat-expansion-panel>
  </div>
</mat-card>
<div class="question-information">

  <div class="info">
    <mat-icon class="l-icon">equalizer</mat-icon>
    <span style="margin-left: 6px">Level : {{ question.difficulty_level }}</span>
  </div>
  <div class="info">
    <div class="d-icon-wrpr t-bg"></div>
    <span>Attempted : {{ question.question_attempt }}</span>
  </div>
  <div class="info">
    <div class="d-icon-wrpr c-bg"></div>
    <span>Correct : {{ question.successful_attempt }}</span>
  </div>
  <div class="info">
    <div class="d-icon-wrpr m-bg"></div>
    <span>Marks : {{ question.question_marks }}</span>
  </div>


</div>
</div>

<ng-template #myTemplate>

  <!--<mat-dialog-content class="mat-typography">-->
  <mat-form-field class="example-twenty-width" fxFlex="40%">
    <mat-label>Choose collection</mat-label>
    <mat-select>
      <mat-option *ngFor="let collection of data3">
        {{collection.name}} </mat-option>
    </mat-select>

  </mat-form-field>

  <!--</mat-dialog-content>-->
</ng-template>