<div class="container">
  <form [formGroup]="leagueForm" (ngSubmit)="onSubmit()">
    <div>
      <button type="button" class="btn cus__add-btn" (click)="addTeam()"> <span class="add-btn">+</span>Add
        Question</button>

      <div formArrayName="teams">

        <div class="teams" *ngFor="
            let team of leagueForm.get('teams')['controls'];
            let teamIndex = index
          " [formGroupName]="teamIndex">
          <mat-card class="ques-box">

            <mat-form-field class="example-full-width">

              <textarea type="text" matInput formControlName="question_text" placeholder="Enter question Text"
                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8"></textarea>
            </mat-form-field>

            <div fxLayout="row" fxLayoutGap="15px">

              <mat-form-field class="example-twenty-width" appearance="outline" fxFlex="30%">
                <mat-label>Question Mark</mat-label>
                <mat-select formControlName="question_mark">
                  <mat-option *ngFor="let mark of marks" [value]="mark.value">
                    {{mark.viewValue}}
                  </mat-option>
                  <!--    <input  type="number"matInput  formControlName="question_mark" placeholder="marks" />-->
                </mat-select>

              </mat-form-field>
              <mat-form-field class="example-twenty-width" appearance="outline" fxFlex="30%">
                <mat-label>Type</mat-label>
                <mat-select formControlName="question_type">
                  <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.viewValue}}
                  </mat-option>
                </mat-select>

              </mat-form-field>

              <mat-form-field class="example-twenty-width" appearance="outline" fxFlex="30%">
                <mat-label>Difficulty Level</mat-label>
                <mat-select formControlName="difficulty_level">
                  <mat-option *ngFor="let level of levels" [value]="level.value">
                    {{level.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>



            <button type="button" class="btn d-btn-primary" (click)="addOption(team)"><i
                class="fa fa-plus-circle"></i><span class="add-10"> Options</span></button>
            <div formArrayName="options" fxLayout="column">
              <div class="cus-option" *ngFor="
                let option of team.get('options').controls;
                let optionIndex = index
              " [formGroupName]="optionIndex">
                <mat-form-field class="example-full-width">
                  <mat-label>Options</mat-label>
                  <textarea matInput type="text" formControlName="option_description"></textarea>
                </mat-form-field>
                <button class="btn del-btn d-btn-primary" (click)="deleteOption(team, optionIndex)">Delete</button>

              </div>
            </div>


            <mat-form-field class="example-twenty-width">
              <mat-label>Correct Options</mat-label>
              <mat-select formControlName="correct_option" placeholder="correct option">
                <mat-option *ngFor="let correct of corrects" [value]="correct.value">
                  {{correct.viewValue}}
                </mat-option>
              </mat-select>

            </mat-form-field>



            <mat-form-field class="example-full-width">
              <mat-label>Answer</mat-label>
              <textarea type="text" matInput formControlName="question_answer" placeholder="write Solution"></textarea>
            </mat-form-field>


            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn d-btn-primary add-10" (click)="addExam(team)"><i
                    class="fa fa-plus-circle"></i><span class="add-10">Exam Id</span></button>
                <div class="exam_id" formArrayName="exam_id" *ngFor="let exam of team.get('exam_id').controls; let i=index
  ">
                  <input type="number" placeholder="Exam id" [formControlName]="i" class="cus-input" />
                  <button class="btn rem-btn" (click)="deleteExam(team, i)"><i class="fa fa-times-circle"></i></button>
                </div>
              
              </div>

              <div class="col-md-6">
                <button type="button" class="btn d-btn-primary add-10" (click)="addTag(team)"><i
                    class="fa fa-plus-circle"></i><span class="add-10">Tag</span></button>
                <div class="tags" formArrayName="tags" *ngFor="
let tag of team.get('tags').controls;
let tagIndex = index
" [formGroupName]="tagIndex">
                  <input placeholder="Tags" formControlName="tag_description" class="cus-input" />
                  <button class="btn rem-btn" (click)="deleteTag(team, tagIndex)"><i
                      class="fa fa-times-circle"></i></button>
                </div>
              </div>
            </div>

          </mat-card>
        </div>
        <!--<button mat-button color="primary" (click)="deleteTeam()">delete Question</button>-->
      </div>

      <div class="create-ques">
        <button class="btn d-btn-primary" type="submit">Create Questions</button>
      </div>

    </div>
    <div *ngIf="loader==true" class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </form>

</div>
