
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-half-width {
    width: 40%;
  }

  .example-twenty-width {
    width: 20%;
  }
  .ques-box{
    margin-bottom: 10px;
  }
  .cus__add-btn{
    background-color: #6D6DAA;
    color: #fff;
    padding: 6px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .add-btn{
    font-size: 22px;
    margin-right: 10px;

  }

.cus-option{
display: flex;
justify-content: space-between;
align-items: center;
}
.del-btn{
  margin-left: 10px;
}
.exam_id{
  display: flex;
  margin:10px;
}
.tags{
  display: flex;
  margin: 10px;
}
.add-10{
  margin: 10px;
}
.rem-btn{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  border-radius: 0;
}
.cus-input{
  border-radius: 0;
  border: 1px solid #6D6DAA;
}
  .d-btn-primary{
    background-color: #6D6DAA;
    color: #fff;
  }
  .create-ques{
display: flex;
justify-content: flex-end;
margin-top: 20px;
margin-bottom: 20px;

  }
 