<mat-card class="container cus__card-design">

  <div class="">

    <!-- <mat-divider [inset]="true"></mat-divider> -->

    <div class="question-text">
      <div class="question_text">
        <div class="q-tag">IIT JEE , Physics</div>
        <div class="q-font">{{ question.question_text }}</div>
      </div>
    </div>
    <!--<span *ngIf="data[i].tags != null">
          (<span *ngFor="let tag of data[i].tags ;index as k">{{tag.tag_description}}/
          </span>)
          </span>-->
    <div id="svg-container" *ngIf="loader[question.question_id] !== undefined && loader[question.question_id]">
      <mat-spinner class="spinner"></mat-spinner>
    </div>
    <div class="p-10 option-container"
      [class.disabled]="optionData[question.question_id] !== undefined && optionData[question.question_id].disableAnswer">

      <div *ngFor="let option of question.options ; index as j" class="options" [ngClass]="{'correct-answer': optionData[question.question_id] !== undefined 
            && optionData[question.question_id].correctId === option.id 
            , 
            'wrong-answer': optionData[question.question_id] !== undefined 
            && optionData[question.question_id].optionId == option.id 
            && optionData[question.question_id].status === 0}" (click)="options(option.id,question.question_id)">


        <span class="prefix">{{optionsValue[j]}}</span>
        <a class="p-10">
          {{option.option_description}}
        </a>
        <span
          *ngIf="optionData[question.question_id] !== undefined 
            && optionData[question.question_id].correctId === option.id && optionData[question.question_id].disableAnswer"
          class="response">
          <mat-icon>check</mat-icon>
        </span>
        <span
          *ngIf="optionData[question.question_id] !== undefined 
            && optionData[question.question_id].optionId == option.id && optionData[question.question_id].status === 0 && optionData[question.question_id].disableAnswer"
          class="response">
          <mat-icon>clear</mat-icon>
        </span>


      </div>

    </div>

    <!--<mat-divider [inset]="true"></mat-divider>-->
  </div>


  <mat-expansion-panel class="sol-bg"
    *ngIf="optionData[question.question_id] !== undefined && optionData[question.question_id].disableAnswer">
    <mat-expansion-panel-header>
      <mat-panel-title class="sol-title">
        View Solution
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>{{question.question_answer}}</p>

  </mat-expansion-panel>
</mat-card>


<!-- <div>
    <label for="item-input">Add an item:</label>
    <input type="text" id="item-input" #newItem>
    <button (click)="addNewItem(newItem.value)">Add to parent's list</button>
</div> -->
<p>
  Today's item: {{item}}
</p>