<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="signup()">
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="your Username" formControlName="username" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password1" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Repete your Password" formControlName="password2" required>
        <mat-error>
           password must be matched
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>

    <div *ngIf="loader==true" class="spinner-border text-success" role="status">
         <span class="sr-only">Loading...</span>
     </div>

      <button type="submit" class="btn btn-success btn-block login-btn">Sign up</button>
    </form>
  </mat-card-content>
</mat-card>