/* brand color:6D6DAA */

@media (min-width: 950px) {
    .d-wrapper{
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
  }
  }

  .title-1{
    font-size: 42px;
      font-weight: 500;
      color: #4e4a4a;
  }
  .title-2{
      max-width: 400px;
      color: #6D6DAA;
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 30px;
  }
  .sub-title{
      font-size: 30px;
      margin-bottom: 30px;
      color: #4e4a4a;
  }
  .custom-btn {
    width: 160px;
    height: 40px;
    color: #fff;
    font-weight: 900;
    border-radius: 5px;
    padding: 10px 25px;
    line-height: 2.4;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  .btn-8 {
    background-color: #6d6daac7;
    padding: 0px;
    border: none;
  }
  .btn-8 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-8:before,
  .btn-8:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #6D6DAA;
  
    transition: all 0.3s ease;
  }
  .btn-8:before{
     height: 0%;
     width: 2px;
  }
  .btn-8:after {
    width: 0%;
    height: 2px;
  }
  .btn-8:hover:before {
    height: 100%;
  }
  .btn-8:hover:after {
    width: 100%;
  }
  .btn-8:hover{
    background: transparent;
    color: #6D6DAA;
  }
  .btn-8 span:hover{
    color: #6D6DAA;
    font-weight: 400;
  }
  .btn-8 span:before,
  .btn-8 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #6D6DAA;
    transition: all 0.3s ease;
  }
  .btn-8 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-8 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-8 span:hover:before {
    height: 100%;
  }
  .btn-8 span:hover:after {
    width: 100%;
  }
    
  .orange-star-wrapper {
      position: absolute;
      right: -8px;
      bottom: -6px;
      max-height: none;
      max-width: 4.25rem;
      min-height: 0px;
      float: right;
  }
  .orange-star-small {
      position: relative;
      max-width: 0.5rem;
  }
  .orange-star-small.orange-star-small-first {
      left: 1rem;
      top: -1.75rem;
  }
  
  .orange-star-small.orange-star-small-second {
      left: 3.25rem;
  }
  .button-large-wrapper {
      position: relative;
      display: flex;
      width: 200px;
      height: 56px;
      margin-top: 0px;
      justify-content: flex-start;
      flex-wrap: nowrap;
  }
  .w-clearfix:before, .w-clearfix:after {
      content: " ";
      display: table;
      grid-column-start: 1;
      grid-row-start: 1;
      grid-column-end: 2;
      grid-row-end: 2;
  }
  .sec-wrapper{
    padding:80px 0 80px 0;
  
  }
  
  @media (min-width: 950px) {
    .d-card-wrapper{
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  }
  .top-right img{
      max-width: 100%;
  }
  @media (min-width: 950px) {
    .top-right img{
      max-width: 500px;
  }
  }
  .section-title{
    color: #4e4a4a;
  font-size: 32px;
  font-weight: 500;
  }
  .d-card{
    position: relative;
      width:100%;
      border-radius: 12px;
      box-shadow: 0.8rem 0.8rem 1.4rem #c8d0e7, -0.2rem -0.2rem 1.8rem #ffffff;
      padding: 40px 20px 40px 20px;
      color:#fff;
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
  }
  @media (min-width: 950px) {
    .d-card{
      width: 300px;
      margin-bottom:0;
    }
  }

  .d-title{
  font-size: 26px;
  font-weight: 600;
  }
  .d-des{
  margin-top: 30px;
  font-size: 20px;
  }
  
  .d-btn {
      margin-top: 30px;
    font-family: "Space Mono", monospace;
    letter-spacing: 1px;
    background: none;
    color: white;
    position: relative;
    outline: none;
    border: none;
    height: 50px;
    width: 190px;
    font-size: 16px;
    font-weight: 700;
    z-index: 2;
    transition: 0.01s 0.23s ease-out all;
    overflow: hidden;
  }
  .d-btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 55%;
    background: #202020;
    z-index: -1;
    transition: 0.3s ease-in all;
  }
  .d-btn:after {
    content: "";
    position: absolute;
    left: -5%;
    top: 5%;
    height: 90%;
    width: 5%;
    background: white;
    z-index: -1;
    transition: 0.4s 0.02s ease-in all;
  }
  .d-btn:hover {
    cursor: pointer;
    color: transparent;
  }
  .d-btn:hover:before {
    left: 100%;
    width: 25%;
  }
  .d-btn:hover:after {
    left: 100%;
    width: 70%;
  }
  .d-btn:hover .icon-right.after:after {
    left: -80px;
    color: white;
    transition: 0.2s 0.2s ease all;
  }
  .d-btn:hover .icon-right.after:before {
    left: -104px;
    top: 14px;
    opacity: 0.2;
    color: white;
  }
  
  .icon-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .icon-right:after {
    font-family: "FontAwesome";
    content: "→";
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: 26px;
    transform: translate3D(0, -50%, 0);
  }
  .icon-right.after:after {
    left: -250px;
    color: black;
    transition: 0.15s 0.25s ease left, 0.5s 0.05s ease color;
  }
  .icon-right.after:before {
    content: "Let's Explore";
    position: absolute;
    left: -230px;
    top: 14px;
    opacity: 0;
    transition: 0.2s ease-in all;
  }
  
  .signature {
    position: fixed;
    font-family: sans-serif;
    font-weight: 100;
    bottom: 10px;
    left: 0;
    letter-spacing: 4px;
    font-size: 10px;
    width: 100vw;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .d-box-wrapper{
      margin-top:50px;
      margin-bottom:50px;
  }
  
  .attribution { 
      font-size: 11px; text-align: center; 
  }
  .attribution a { 
      color: hsl(228, 45%, 44%); 
  }
  
  
  
  .d-cust-box h2 {
    color: #4e4a4a;
    font-weight: 400;
  }
  .d-cust-box p{
    color: #a3a5ae;
  }
  .box-img{
  font-size: 67px;
    color: #6D6DAA;
    float: right;
    width: 67px;
    height: 67px;
  }
  .t-line{
    height: 3px;
    width: 100px;
    border-radius: 35px;
    background: linear-gradient(130deg, #6D6DAA ,#f0ecfc);
  }
  
  .dfc-1 {
      border-top: 3px solid #8758f3;
  }
  .dfc-2 {
      border-top: 3px solid #e81111;
  }
  .dfc-3 {
      border-top: 3px solid #549ef2;
  }
  .dfc-4 {
      border-top: 3px solid #fcaf4a;
  }
  
  .d-cust-box {
    border-radius: 5px;
    box-shadow: 0px 15px 30px -20px #a3a5ae;
    padding: 30px;
    margin: 20px;  
    background-color: #fff;
  }

  @media (max-width: 450px) {
    .d-cust-box {
          height: 300px;
      }
      .title-1{
        font-size: 30px;
      }
      .title-2 {
        font-size: 28px;
      }
      .sub-title{
        font-size: 22px;
    
    }
    .d-cust-box h2{
      font-size: 28px;

    }
  }
  @media (max-width: 950px) and (min-width: 450px) {
    .d-cust-box {
        text-align: center;
        height: 230px;
    }
  }
  @media (min-width: 950px) {
      .row1-container {
          display: flex;
          justify-content: center;
          align-items: center;
      }
      
      .row2-container {
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .d-box-down {
          position: relative;
          top: 150px;
      }
      .d-cust-box {
          width: 27%;
       
      }
    
      
  }
  
  .d-card:hover {
    box-shadow: -1px 4px 12px 9px #edf2f9;
}