<div class="">
    <section class="container d-wrapper">
        <div class="top-left">
             <div class="title-1">Looking for</div>
             <div class="title-2">Progressive learning</div>
             <div class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, suscipit! </div>
             <div class="button-large-wrapper w-clearfix">
             <button class="custom-btn btn-8"><span>Get Started Now</span></button>
             <div class="orange-star-wrapper"><img src="./assets/image/star.svg" alt="">
                <img src="./assets/image/star.svg" alt="" class="orange-star-small orange-star-small-first">
                <img src="./assets/image/star.svg" alt="" class="orange-star-small orange-star-small-second">
            </div>
            </div>
        </div>
        <div class="top-right">
            <img src="./assets/image/fidout.png" alt="fidout">        
        </div>
    </section>
    <section class="sec-wrapper" style="background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;">
        <div class="container d-card-wrapper">
       
        <div class="d-card" style="background-color: #9cc69e">
            <div class="d-title">Question Bank for KG to 12 for Boards</div>
            <div class="d-des">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <button class="d-btn">Let's Explore<span class="icon-right"></span><span class="icon-right after"></span></button>
        </div>
        <div class="d-card" style="background-color:#7e84be">
            <div class="d-title">Tests & Practice</div>
            <div class="d-des">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <button class="d-btn">Let's Explore<span class="icon-right"></span><span class="icon-right after"></span></button>
        </div>
        <div class="d-card" style="background-color: #dd6a6f">
            <div class="d-title">quizzes for all your Exam</div>
            <div class="d-des">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <button class="d-btn">Let's Explore<span class="icon-right"></span><span class="icon-right after"></span></button>
        </div>
        </div>
    </section>
    <section class="d-box-wrapper container">
    <div class="section-title">Key Features</div>
    <div class="t-line"></div>
          <div class="row1-container">
            <div class="d-cust-box d-box-down dfc-1">
              <h2>Past Years Papers</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo porro aut</p>
              <mat-icon class="box-img">note_add</mat-icon>
            </div>
        
            <div class="d-cust-box dfc-2">
              <h2>Mock Tests</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo porro aut</p>
              <mat-icon class="box-img"> list_alt</mat-icon>
            </div>
        
            <div class="d-cust-box d-box-down dfc-3">
              <h2>Quizess</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo porro aut</p>
              <mat-icon class="box-img">description</mat-icon>
            </div>
          </div>
          <div class="row2-container">
            <div class="d-cust-box dfc-4">
              <h2>Practices/Notes</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo porro aut</p>
              <mat-icon class="box-img">note</mat-icon>

            </div>
          </div>
    </section>
</div>

