<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
  <button mat-button (click)="sidenav.toggle()">ShowTags</button>
<infinite-scroll (scrolled)="onScroll()" >
<div fxLayout="row"  fxLayout.lt-md="raw"  fxLayoutGap="15px" fxLayoutAlign="center center" >
<mat-form-field  fxFlex="40%">
  <mat-label>Level</mat-label>
  <mat-select [formControl]="filterControl" (selectionChange)="fectchFilter()">
    <mat-option>--</mat-option>
    <mat-option *ngFor="let filter of idFilters" [value]="filter">
      {{filter.name}}
    </mat-option>
  </mat-select>
  </mat-form-field>
<mat-form-field   fxFlex="40%">  

<mat-label>Type</mat-label>
    <mat-select [formControl]="selectFormControl" (selectionChange)="fectchFilter()" >
    <mat-option>--</mat-option>
    <mat-option *ngFor="let filter of typeFilters" [value]="filter" fxFlex>
      {{filter.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

 </div>

 
<div *ngFor="let question of questions ; index as i" class="p-10 m-20"> 
   <!-- <div *ngIf="question.question_type===1">-->
    <app-exam-questions [question]="question"></app-exam-questions>
    <!--</div>-->
    <!--<div *ngIf="question.question_type===2">-->
    <!--<app-fillin [question]="question"></app-fillin>-->
    <!--</div>-->

    <!--<button (click)="gettag()" >Tags</button>-->
</div>
<ng-template #myTemplate>
<mat-dialog-content class="mat-typography">
<span *ngFor="let collection of data3; index as i" > 
    <span> <a> {{collection.name}}</a></span>
</span>
</mat-dialog-content>
</ng-template>
</infinite-scroll> 
  </mat-sidenav-content>
<mat-sidenav  #sidenav mode="side" [(opened)]="opened" (opened)=" events.push('open!')"
               (closed)="events.push('close!')"  position="end"  fxFlex="40%" class="m100" >
<mat-chip-list>
<mat-chip  *ngFor="let collection of data3; index as i"  >
{{collection.name}}
</mat-chip>
</mat-chip-list>

</mat-sidenav>
</mat-sidenav-container>
