.mat-card{
    background-color: #fafafa;
}

.m-20{
    margin: 20px;
}

.text-center{
    text-align: center;
}

.ui.label {
    display: contents;
    line-height: 1;
    vertical-align: baseline;
    margin: 6em 0.14285714;
    background-color: #e8e8e8;
    background-image: none;
    padding: 0.5833em 0.833em;
    color: rgba(0, 0, 0, 0.6);
    text-transform: none;
    font-weight: bold;
    border: 0px solid transparent;
    border-radius: 0.28571429rem;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
    font-size: 0.857143rem;
    cursor:pointer;

}


a.ui.label:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    background-image: none;
    color: rgba(0, 0, 0, 0.8);
}
a:hover {
    color: #1e70bf;
    text-decoration: none;
}


.hellodear{
    padding-left: 78px;

}
.ma{
    min-width: calc(10% + 2px);
}


.info{

    margin-top:100px;
    padding: 10px;
    border-color: rgba(0,0,0,.12);
    margin-bottom: 8px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.shishir{
    margin-bottom: 38px;
    margin-top: 28px;
    margin-left: 130px;
    text-decoration-color: black;
}
.cardList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* Column Gap */
  .cardList > * {
    box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
    margin-right: 32px;
  }
  /* Item sizing */
  .cardListItem {
    flex: 0 1 calc(33.3% - 32px);
  }


  .m100{
      margin-top: 120px;
  }
