
<nav class="navbar navbar-expand-xl navbar-light bg-light">
	<div class="container">
	<a href="#" class="navbar-brand"><i class="fa fa-d"></i><b>DoubtFix</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			
			<a href="/questions"  class="nav-item nav-link active">Question</a>
			<a href="#" class="nav-item nav-link">About</a>

			<a href="#" class="nav-item nav-link">Blog</a>
			<a href="#" class="nav-item nav-link">Contact</a>
		</div>

		<!--<form class="navbar-form form-inline">
			<div class="input-group search-box">								
				<input type="text" id="search" class="form-control" placeholder="Search by Name">
				<span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
			</div>
		</form>-->
		<mat-divider></mat-divider>
		<div class="navbar-nav ml-auto">

		<li *ngIf="!isLoggedIn() ">
        
            <button class="hello"  (click)="openDialog()" type="button">Login</button>        
		</li>

	<li *ngIf="isLoggedIn()" >
		<div class="navbar-nav ml-auto">
			<div class="nav-item dropdown"  >
				<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="https://doubtfix.s3.amazonaws.com/media/candidate-photos/0db133bb20133ca8f9767866adb1fe21_i80G7XE.jpg" class="avatar" alt="Avatar"><span><b>Hello  </b>{{user?.username}}</span> <b class="caret"></b></a>
				
				<div class="dropdown-menu" >
					<a href="/profile" class="dropdown-item"><i class="fa fa-user-o"></i> <span>Profile</span></a>
					<a href="/bookmarks" class="dropdown-item"><i class="fa fa-bookmark-o"></i> <span>Bookmark</span></a>
					<a href="/collections" class="dropdown-item">
						<svg width="15" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="folder-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-folder-plus fa-w-16"><path fill="currentColor" d="M464,128H272L217.37,73.37A32,32,0,0,0,194.74,64H48A48,48,0,0,0,0,112V400a48,48,0,0,0,48,48H464a48,48,0,0,0,48-48V176A48,48,0,0,0,464,128Zm16,272a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V112A16,16,0,0,1,48,96H194.74l54.63,54.63A32,32,0,0,0,272,160H464a16,16,0,0,1,16,16ZM339.5,272h-68V204a12,12,0,0,0-12-12h-8a12,12,0,0,0-12,12v68h-68a12,12,0,0,0-12,12v8a12,12,0,0,0,12,12h68v68a12,12,0,0,0,12,12h8a12,12,0,0,0,12-12V304h68a12,12,0,0,0,12-12v-8A12,12,0,0,0,339.5,272Z" class=""></path>
						</svg>
						<span>Collections</span></a>
					<!--<a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>-->
					<div class="dropdown-divider"></div>
					<a class="dropdown-item"  (click)="logout()" href="#"><i class="material-icons">&#xE8AC;</i> <span>Logout</span></a>
					
				</div>
			</div>
		</div>
	</li>
	</div>
	</div>
	</div>
</nav>