

<!--<div> 
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button class="companyName" routerLink="/">
      <h1>GurukulPrime</h1>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/about-us">Practice</a>
      <a mat-button routerLink="/prices">ExamInfo</a>
      <a mat-button routerLink="/questions">Question Bank</a>
      <a mat-button routerLink="/login">Login</a>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/about-us">Practice</a>
      <a mat-button routerLink="/prices">ExamInfo</a>
      <a mat-button routerLink="/questions">Question Bank</a>
      <a mat-button routerLink="/login">Login</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
       
    </mat-sidenav-content>
  </mat-sidenav-container>
     <mat-icon>school</mat-icon>

</div>-->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
   
  
  <a class="navbar-brand" href="#" style="margin-left: 20px; "><span class="mx-3 font-italic text-dark">Doubtfix</span>
    <!--<img class="logo-img" src="../assets/image/hello1.png" >-->
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/questions">Question<span class="sr-only">(current)</span></a>
      </li>
    </ul>
   <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
    <ul class="navbar-nav mr-auto" style="margin-right: unset !important;">
    <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
      <li class="nav-item active" *ngIf="!isLoggedIn()">
        
            <button class="hello"  (click)="openDialog()" type="button">Login</button>        
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn()">
        <a class="nav-link dropdown-toggle" class="boot" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  routerLink="/profile" ><i class="fa fa-user-o"></i> Profile</a>
          
          <a class="dropdown-item" routerLink="/bookmarks" >Bookmarks</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" href="#"> <i class="material-icons">&#xE8AC;</i>Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<mat-divider></mat-divider>





