
<div class="cardList">
    <div *ngFor="let quiz of data; index as i" class="img-wrap">
          <button class="hello" >
                {{quiz.quiz_title}}</button>

                <a  class="hello" target="_blank" href="quiz/{{ quiz.id }}" (click)="getQues()"> Exapand
                </a>
               
    </div>


</div>
