
<div class="quiz-wrapper">
    <div ng-app ng-controller = "countController"> {{countDown}} <div>
    <div *ngFor="let question of data4 ; index as i" class="p-10 m-20" > 
        <!-- <div *ngIf="question.question_type===1">-->
         <app-quiz-questions [question]="question" [optionData]="optionData" (newItemEvent)="addItem($event)"></app-quiz-questions>
         
    
    
         <!--</div>-->
         <!--<div *ngIf="question.question_type===2">-->
         <!--<app-fillin [question]="question"></app-fillin>-->
         <!--</div>-->
     
         <!--<button (click)="gettag()" >Tags</button>-->
     </div>
        
       <div class="btn-wrp p-10 m-20"> <button class="btn sub-btn" (click)="onsubmitt(data5)" >Submit</button></div>
        <!-- <app-quiz-questions (newItemEvent)="addItem($event)"></app-quiz-questions> -->
    <!-- <ul>
        <li *ngFor="let item of items">{{item.question_id}} {{item.option_id}}</li>
      </ul> -->
</div>







