
.quiz-wrapper{
}
.btn-wrp{
    display: flex;
    justify-content: center;
}
.sub-btn{
    background-color: #6D6DAA;
    color: #fff;
    border:2px solid #6D6DAA;
    padding: 6px 20px;
    margin-bottom: 20px;
 
}