<a mat-list-item routerLink="test" (click)="fetch(item.exam_id)" [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
   
   class="menu-list-item">
  <span style="max-width: 15px;margin-right: 10px;">
     <svg width="16" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="folders" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-folders fa-w-20" style="--fa-secondary-opacity:1; --fa-primary-opacity:0.1;"><g class="fa-group">
     <path fill="#c8cbef69" d="M640 112v224a48 48 0 0 1-48 48H176a48 48 0 0 1-48-48V48a48 48 0 0 1 48-48h160l64 64h192a48 48 0 0 1 48 48z" class="fa-secondary"></path>
     <path fill="#6D6DAA" d="M48 512a48 48 0 0 1-48-48V176a48 48 0 0 1 48-48h48v208a80.09 80.09 0 0 0 80 80h336v48a48 48 0 0 1-48 48z" class="fa-primary"></path></g>
    </svg>
    <!-- <img src="./assets/icons/nav-icon.png" > -->
  </span>
   
  <a >{{item.exam_name}}</a>
  <span fxFlex *ngIf="item.subexams && item.subexams.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>

<a mat-list-item routerLink="quiz123" *ngIf='selectedRoute=="/quiz123"' (click)="fetch(item.exam_id)" [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
   
   class="menu-list-item">
  
  <a >{{item.exam_name}}</a>
  <span fxFlex *ngIf="item.subexams && item.subexams.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>

<div *ngIf="expanded">
  <app-left-nav *ngFor="let child of item.subexams" [item]="child" [depth]="depth+1">
  </app-left-nav>
</div>