.sidenav-container {
  height: 100%;
  margin-top: 50px;

}

.mat-sidenav {
  width: 260px;
  
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-drawer-content{
  min-height: 500px;
}
.sidenav{
  border-right: none;
  
}