<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      *ngIf="selectedRoute"
      style="top:57px;">
    

      
    <mat-nav-list>
      <app-left-nav *ngFor="let item of dataSource" [item]="item"></app-left-nav>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="min-height:550px">

<div *ngIf="selectedRoute">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
    </div>
    <router-outlet></router-outlet>
  
  </mat-sidenav-content>

</mat-sidenav-container>
